.container{
    border: 1px solid lightgrey;
    display: flex;
    justify-content: space-between;
    padding: 24px;
}
.box{
    border: 1px solid grey;
    width: 100px;
    height: 100px;
}
.box-small{
    width: 50px;
    height: 50px;
    margin-left: 24px;
}
.box-wrap{
    display: flex;
    align-items: center;
}