*{
    box-sizing: border-box;
}
.container{
    border: 1px solid lightgrey;
    padding: 24px 24px 0 24px;
    display: flex;
    justify-content: space-between;
}

.box{
    border: 1px solid grey;
    margin-bottom: 24px;
}
.largebox{
    width: 45%;
}
.wrap{
    width: 45%;
    display: flex;
    flex-direction: column;
}
.boxsmall{
    height: 50px;
}